.htmlContainer {
  margin: 0 auto;
  width: fit-content;
  margin-top: 32px;
  transform: rotateX(20deg) rotateY(20deg);
  transform-style: preserve-3d;
}

.htmlContainerCont {
  height: 224px;
  overflow: hidden;
  mask-image: linear-gradient(180deg,rgba(255, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);;
}
