<div class="dropDownContainer bg cardShadow wfull" [ngClass]="[style]">
  <button class="wfull" (click)="toggle()">
    @if (showIcon) {
    <i class="material-icons-round">{{ icon }}</i>
    }
    @if (showLabel && label) {
    <span>{{ label }}</span>
    }
    @if (showLabel) {
    <div class="wfull"></div>
    <i class="material-icons-round" [ngClass]="isOpen? 'deg90' : ''">keyboard_arrow_left</i>
    }
  </button>

  <div class="contentContainer" [ngClass]="isOpen? 'showCont' : 'hideCont'">
    <ng-content />
  </div>
</div>
