.primary {
  background-color: var(--font);
}

.primary * {
  color: var(--bg1);
}

.accent {
  background-color: var(--primary);
}

.accent * {
  color: whitesmoke;
}

.ghost {
  background-color: transparent;
  box-shadow: 0 0 1px var(--font);
}

.succes {
  background-color: var(--succes);
}

.succes * {
  color: white;
}

.danger {
  background-color: var(--danger);
}

.warning * {
  color: white;
}

.warning {
  background-color: var(--warning);
}

.danger * {
  color: white;
}

.justIcon {
  padding: 4px;
}

.hPrimary:hover * {
  color: var(--primary);
}

.wfull {
  padding: 4px;
}

span {
  text-wrap: nowrap;
}

.rounded {
  border-radius: 46px;
}
