<div class="widthLayout center flex flexCol">
  <section>
    <div class="hero wfull relative">
      <div class="flex flexCol gap24">
        <div class="flex flexCol gap12">
          <span>Angular</span>
          <h1 class="rainbowTxt">UI Library</h1>
        </div>
        <p>Components and a template to start projects more faster</p>
        <div class="flex gap12 center">
          <app-button
            [label]="'Components'"
            [icon]="'arrow_forward'"
            [style]="'accent'"
          />
          <app-button
            [label]="'template'"
            [icon]="'arrow_forward'"
            [style]="'ghost'"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="explainCardList flex flexWrap justcenter gap12">
    <div class="explainCard flex flexCol gap24 p24 bg cardShadow">
      <h3>New components</h3>
      <span
        >Componentes reutilizables y costumizables para angular las versiones de
        angular 18 en adelante</span
      >
      <a href=""> Try it </a>
    </div>
    <div class="explainCard flex flexCol gap24 p24 bg cardShadow">
      <h3>Project template</h3>
      <span
        >Componentes reutilizables y costumizables para angular las versiones de
        angular 18 en adelante</span
      >
      <a href=""> Try it </a>
    </div>
  </section>

  <section class="flex flexCol gap24">
    <h2 class="textCenter">Components</h2>
    <div class="componentLists">
      <div class="bgBorder compCard wfull p12 flex flexCol">
        <h3>Dropdown</h3>
        <div class="center wfull bg">
          <app-acordeon [label]="'Is this an acordeon?'" [icon]="'help'">
            Si, en efecto, lo es.
          </app-acordeon>
        </div>
        <a href="">Docs</a>
      </div>
      <div class="bgBorder compCard wfull p12 flex flexCol gap24">
        <h3>Copy text button</h3>
        <div class="bg p12 aligncenter center flex gap12">
          <span>Content to copy</span>
          <button class="primary justIcon">
            <i class="material-icons-round">copy</i>
          </button>
        </div>
        <a href="">Docs</a>
      </div>
      <div class="bgBorder compCard wfull p12 flex flexCol gap24">
        <h3>Toast</h3>
        <div class="aligncenter center gap12 flex flexWrap justcenter">
          <app-button
            [label]="'Default'"
            [style]="'primary'"
            [showIcon]="false"
          />
          <app-button
            [label]="'Description'"
            [style]="'primary'"
            [showIcon]="false"
          />
          <app-button
            [label]="'Succes'"
            [style]="'primary'"
            [showIcon]="false"
          />
          <app-button
            [label]="'Warning'"
            [style]="'primary'"
            [showIcon]="false"
          />
          <app-button
            [label]="'Error'"
            [style]="'primary'"
            [showIcon]="false"
          />
        </div>
        <a href="">Docs</a>
      </div>
      <div class="bgBorder compCard wfull p12 flex flexCol gap24">
        <h3>Buttons</h3>
        <div class="p12 aligncenter center flex flexWrap gap12">
          <app-button
            [label]="'Action'"
            [style]="'accent'"
            [showIcon]="false"
          />
          <app-button
            [label]="'Action'"
            [style]="'primary'"
            [showIcon]="false"
          />
          <app-button [label]="'Action'" [style]="'ghost'" [showIcon]="false" />
        </div>
        <a href="">Docs</a>
      </div>
    </div>
  </section>
</div>
