<div class="container p24 bg2">
  <div class="flex flexCol hfull gap24 lgw center">
    <div class="wfit center">
      <h1 class="textCenter">
        Franco's components library
      </h1>
      <p>
        Un pequeño rejunte de componentes para empezar proyectos mas rapido
      </p>
    </div>
    <div class="hfit flex gap24">
      <div class="bg wfull p24 flex flexCol gap12">
        <h2 class="textCenter">Documentation</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id excepturi quod voluptatum, ipsam commodi, ipsa
          aspernatur obcaecati sint explicabo veritatis blanditiis tempore quisquam. Repellat, distinctio quidem
          doloribus mollitia reprehenderit rerum?
        </p>
      </div>
      <div class="bg wfull p24 flex flexCol gap12">
        <h2 class="textCenter">Example app</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, omnis provident voluptatem, sunt atque
          deserunt veritatis architecto eos tempora repellendus recusandae laboriosam quasi consectetur magnam
          voluptatum cum quisquam in possimus!
        </p>
      </div>
    </div>
    <div>
      <h2>Aditional Tools</h2>
    </div>
    <app-theme-btn />
  </div>
</div>
