<div class="btnsContainer gap12">
  <div></div>
  <span>Primary</span>
  <span>Secondary</span>
  <span>Terciary</span>
  <span>Ghost</span>
  <span>Transparent</span>
  <span>Text + Icon</span>
  <app-button [style]="'primary'"/>
  <app-button [style]="'secondary'"/>
  <app-button [style]="'terciary'"/>
  <app-button [style]="'ghost'"/>
  <app-button [style]="'transparent'"/>
  <span>Text</span>
  <app-button [style]="'primary'" [showIcon]="false"/>
  <app-button [style]="'secondary'" [showIcon]="false"/>
  <app-button [style]="'terciary'" [showIcon]="false"/>
  <app-button [style]="'ghost'" [showIcon]="false"/>
  <app-button [style]="'transparent'" [showIcon]="false"/>
  <span>Icon</span>
  <app-button [style]="'primary'" [showLabel]="false"/>
  <app-button [style]="'secondary'" [showLabel]="false"/>
  <app-button [style]="'terciary'" [showLabel]="false"/>
  <app-button [style]="'ghost'" [showLabel]="false"/>
  <app-button [style]="'transparent'" [showLabel]="false"/>
</div>
