<div class="p24 center flex gap24">
  <div class="componentsList wfit flex flexCol gap24">
    <div class="flex flexCol gap12">
      <h2>Buttons</h2>
      <div class="bg p24 gap12">
        <app-buttons-showcase />
      </div>
    </div>
    <div class="flex flexCol gap12">
      <h2>Sidebar</h2>
      <app-sidebar />
    </div>
    <div class="flex flexCol gap12">
      <h2>Table</h2>
      <app-table-list />
    </div>
    <div class="flex flexCol gap12">
      <h2>Special Card</h2>
      <app-card-interfase-demostration />
    </div>
    <app-theme-btn />
  </div>
</div>
