<div class="sidebar hfull flex flexCol p12 gap12" [ngClass]="isClosed? 'isClosed' : 'isOpen'">
  <div class="flex aligncenter gap12">
    @if (toggleBtn) {
    <div style="height: 45px;">
      <app-button [icon]="'menu'" [showLabel]="false" (click)="isClosed = !isClosed" />
    </div>
    }
    @if (title) {
    {{ title }}
    }
  </div>
  <div class="hfull flex flexCol gap12">
    @for (group of buttonList; track $index) {
    <div class="flex flexCol gap8">
      <h3>{{ group.name }}</h3>
      <div class="flex flexCol gap8">
        @for (button of group.buttons; track $index) {
        <app-button [icon]="button.icon" [label]="button.label" [style]="isRouteActive(button.route)? 'bg3 wfull' : 'wfull'" />
        }
      </div>
    </div>
    }
  </div>
</div>
