<div class="navContainer">
  @if (mobileNav && isNavbarClosed) {
  <div
    class="bg cardShadow flex p12 gap12"
    style="position: fixed; bottom: 24px; right: 24px; z-index: 100"
  >
    <app-theme-btn />
    <button (click)="openMobileNav()" class="">
      <i class="material-icons-round">menu</i>
    </button>
  </div>
  }

  <div
    [ngClass]="[
      isNavbarClosed ? '' : 'showNav',
      mobileNav ? 'mobileNav bgGlass' : 'desktopNav',
      'scrolledContainer bgGlass'
    ]"
    (click)="closeMobileNav()"
  >
    <nav
      class="p8 flex gap8 flexCol"
      [ngClass]="[mobileNav ? 'bg cardShadow' : 'aligncenter wfull justbt']"
      (click)="$event.stopPropagation()"
    >
      <div class="flex aligncenter gap12">
        <h1>UI Library</h1>
        <a href="">Templates</a>
        <a href="">Components</a>
        <a href="" class="accent">Docs</a>
      </div>
      <div class="flex gap12">
        <input type="text" placeholder="Search in docs" />
        <a href="">GitHub</a>
        @if (!mobileNav) {
        <app-theme-btn />
        }
      </div>
    </nav>
  </div>
</div>
