<div class="flex gap24 hfull">
  <div class="flex flexCol hfull wfull gap24">
    <h2>To Do</h2>
    <div class="flex flexCol gap12">
      @if (hasIncompleteTodos()) {
      @for (todo of todos; track todo.id) {
      @if (!todo.complete) {
      <app-to-do-card (completeChange)="changeTodoState($event, todo.id)" [title]="todo.title"
        [complete]="todo.complete" [deadLine]="todo.deadLine">
      </app-to-do-card>
      }
      }
      } @else {
      <span class="p12">Everything ready for today.</span>
      }
    </div>
    <div class="flex">
      <div class="wfull"></div>
      <app-button [label]="'Add To Do'" [icon]="'add'" [style]="'primary'" />
    </div>
  </div>
  <div class="flex flexCol hfull wfull gap24">
    <h2>Complete</h2>
    <div class="flex flexCol gap12 hfull">
      @if (hasCompleteTodos()) {
      @for (todo of todos; track todo.id) {
      @if (todo.complete) {
      <app-to-do-card (completeChange)="changeTodoState($event, todo.id)" [title]="todo.title"
        [complete]="todo.complete" [deadLine]="todo.deadLine">
      </app-to-do-card>
      }
      }
      } @else {
      <span class="p12">Completed tasks will be displayed here.</span>
      }
    </div>
  </div>
</div>
