<div class="flex gap24 hfull">
  <div class="flex flexCol hfull wfull gap12">
    <div class="flex ali justbt aligncenter">
      <h2>Incomplete</h2>
      <app-button [label]="'add To Do'" [icon]="'add'" [style]="'primary'" />
    </div>
    <div class="bg flex aligncenter gap12 p12 wfull">
      <app-button [icon]="'check_box_outline_blank'" [label]="''" />
      <span class="wfull">Lista a realizar</span>
      <app-button [icon]="'more_vert'" [label]="''" />
    </div>
  </div>
  <div class="flex flexCol wfull gap12">
    <div class="flex justbt aligncenter">
      <h2>Complete</h2>
      <app-button [label]="'clear list'" [icon]="'clear'" [style]="'primary'" />
    </div>
  </div>
</div>
